<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AmountMapper">

	<resultMap type="Amount" id="amountResult">
		<result property="amountId" column="amountId" />
		<result property="userId" column="userId" />
		<result property="addTime" column="addTime" />
		<result property="totalMoney" column="totalMoney" />
		<result property="xzfRate" column="xzfRate" />
		<result property="amountMoney" column="amountMoney" />
		<result property="status" column="status" />
		<result property="amountNum" column="amountNum" />
		<result property="storeId" column="storeId" />
	</resultMap>


	<select id="findXzfRate"  parameterType="string"
		resultType="Double">
		SELECT s.xzfRate as xzfRate from sys_setting s  ORDER BY s.settingTime desc limit 1
	</select>

	<select id="countCashFlowDay"  parameterType="string"
			resultType="Amount">
		select IFNULL(SUM(c.money),0) totalMoney,c.storeId storeId  from m_cashFlow  c
		where date_format(c.addTime,'%Y-%m-%d')=#{0}
		GROUP BY c.storeId
	</select>




	<insert id="addAmont" parameterType="Amount">
		INSERT INTO m_amount(
		<if test="amountId !=null and amountId !=''">amountId,</if>
		<if test="amountNum !=null and amountNum !=''">amountNum,</if>
		<if test="storeId !=null and storeId !=''">storeId,</if>
		addTime,
		<if test="totalMoney !=null and totalMoney !=''">totalMoney,</if>
		<if test="xzfRate !=null and xzfRate !=''">xzfRate,</if>
		<if test="amountMoney !=null and amountMoney !=''">amountMoney,</if>
		<if test="amountStatus !=null and amountStatus !=''">amountStatus,</if>
		status
		)VALUES (
		<if test="amountId !=null and amountId !=''">#{amountId},</if>
		<if test="amountNum !=null and amountNum !=''">#{amountNum},</if>
		<if test="storeId !=null and storeId !=''">#{storeId},</if>
		#{addTime},
		<if test="totalMoney !=null and totalMoney !=''">#{totalMoney},</if>
		<if test="xzfRate !=null and xzfRate !=''">#{xzfRate},</if>
		<if test="amountMoney !=null and amountMoney !=''">#{amountMoney},</if>
		<if test="amountStatus !=null and amountStatus !=''">#{amountStatus},</if>
		1
		)
	</insert>

</mapper> 