<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CashMapper">

	<resultMap type="CashDetail" id="CashDetailResult">
		<result property="detailId" column="detailId" />
		<result property="cashId" column="cashId" />
		<result property="commodityId" column="commodityId" />
		<result property="commodityNo" column="commodityNo" />
		<result property="commodityName" column="commodityName" />
		<result property="number" column="number" />
		<result property="unitName" column="unitName" />
		<result property="inPrice" column="inPrice" />
		<result property="salePrice" column="salePrice" />
		<result property="vipPrice" column="vipPrice" />
		<result property="totalPrice" column="totalPrice" />
		<result property="totalVipPrice" column="totalVipPrice" />
		<result property="addTime" column="addTime" />
		<result property="status" column="status" />
		<result property="commodityCode" column="commodityCode" />
		<result property="lirun" column="lirun" />
		<result property="categoryName" column="categoryName" />
	</resultMap>
	<resultMap type="CashFlow" id="CashFlowResult">
		<result property="cashId" column="cashId" />
		<result property="tradeCode" column="tradeCode" />
		<result property="userId" column="userId" />
		<result property="storeId" column="storeId" />
		<result property="machineNo" column="machineNo" />
		<result property="cashierId" column="cashierId" />
		<result property="menberNo" column="menberNo" />
		<result property="type" column="type" />
		<result property="payType" column="payType" />
		<result property="totalMoney" column="totalMoney" />
		<result property="money" column="money" />
		<result property="number" column="number" />
		<result property="status" column="status" />
		<result property="remark" column="remark" />
		<result property="addTime" column="addTime" />
		<result property="addIP" column="addIP" />
		<result property="cashName" column="cashName" />
		<result property="memberName" column="memberName" />
		<result property="lirun" column="lirun" />
		<result property="maolilv" column="maolilv" />
		<result property="hour" column="hour" />
		<collection property="cashDetail" javaType="java.util.List" resultMap="CashDetailResult" />
	</resultMap>
	<resultMap type="Register" id="RegisterResult">
		<result property="commodityId" column="commodityId" />
		<result property="commodityCode" column="commodityCode" />
		<result property="commodityName" column="commodityName" />
		<result property="commodityNo" column="commodityNo" />
	</resultMap>
	<select id="pageInfoQuery" parameterType="PageUtilEntity"
		resultType="CashFlow">
		SELECT DISTINCT(c.cashId),tradeCode,c.userId,machineNo,c.type type,m.name cashName,c.menberNo memberName,payType,
		round(c.totalMoney/100,2) totalMoney,round(c.money/100,2) money,c.number,c.addTime
		FROM m_cashFlow c LEFT JOIN t_cashier m ON c.cashierId=m.cashierId
		LEFT JOIN m_cashDetail d ON d.cashId=c.cashId
		LEFT JOIN m_commodity com ON d.commodityId=com.commodityId
		WHERE c.storeId=#{relationMap.storeId} AND c.status=1
		<if test="relationMap.commodityNo != null and relationMap.commodityNo != ''">
			AND (
			com.commodityName LIKE CONCAT(CONCAT('%', #{relationMap.commodityNo}),'%') or
			com.commodityCode LIKE CONCAT(CONCAT('%',#{relationMap.commodityNo}),'%') or
			com.commodityNo LIKE CONCAT(CONCAT('%',#{relationMap.commodityNo}),'%') 
			)
		</if>
		<if test="relationMap.beginTime != null and relationMap.beginTime != ''">
			AND DATE_FORMAT(c.addTime,'%Y%m%d') &gt;= DATE_FORMAT(#{relationMap.beginTime},'%Y%m%d')
		</if>
		<if test="relationMap.endTime != null and relationMap.endTime != ''">
			AND DATE_FORMAT(c.addTime,'%Y%m%d') &lt;= DATE_FORMAT(#{relationMap.endTime},'%Y%m%d')
		</if>
		order by c.addTime desc
	</select>
	
	<select id="getComById" parameterType="string" resultType="CashDetail">
		SELECT d.commodityId,d.commodityName,round(d.totalVipPrice/100,2) totalVipPrice,
		d.number number,round(d.totalPrice/100,2) totalPrice,unitName
		FROM m_cashFlow c LEFT JOIN m_cashDetail d ON d.cashId=c.cashId
		where c.`cashId`=#{0}
	</select>
	
	<select id="getById" parameterType="string" resultType="CashFlow">
		SELECT cashId,tradeCode,round(money/100,2) money FROM m_cashFlow WHERE cashId=#{0}
	</select>
	
	<select id="cashCountpageInfoQuery" parameterType="PageUtilEntity" resultType="CashFlow">
		SELECT f.cashierId cashierId,m.name cashName,m.addTime,
		SUM(IF(payType=0,money/100,0)) xianjin,
		SUM(IF(payType=1,money/100,0)) zhifubao,
		SUM(IF(payType=2,money/100,0)) weixin,
		SUM(IF(payType=3,money/100,0)) yinlian,
		SUM(IF(payType=4,money/100,0)) baitiao
		FROM m_cashFlow f LEFT JOIN t_cashier m ON f.cashierId=m.cashierId 
		WHERE f.storeId=#{relationMap.storeId} AND f.status=1
		<if test="relationMap.beginTime != null and relationMap.beginTime != ''">
			AND DATE_FORMAT(f.addTime,'%Y%m%d') &gt;= DATE_FORMAT(#{relationMap.beginTime},'%Y%m%d')
		</if>
		<if test="relationMap.endTime != null and relationMap.endTime != ''">
			AND DATE_FORMAT(f.addTime,'%Y%m%d') &lt;= DATE_FORMAT(#{relationMap.endTime},'%Y%m%d')
		</if>
		<if test="relationMap.cashName != null and relationMap.cashName != ''">
			AND m.name LIKE CONCAT(CONCAT('%', #{relationMap.cashName}),'%')
		</if>
		GROUP BY f.cashierId,m.addTime
		ORDER BY m.addTime DESC
	</select>
	
	<select id="sellWaterpageInfoQuery" parameterType="PageUtilEntity" resultType="CashDetail">
		SELECT c.commodityCode commodityCode,d.commodityName commodityName,c.commodityNo commodityNo,
		d.addTime `addTime`,d.unitName unitName,
		d.number number,d.totalVipPrice/100 totalVipPrice,d.inPrice/100*d.number inPrice
		FROM m_cashDetail d LEFT JOIN m_cashFlow f ON d.cashId=f.cashId 
		LEFT JOIN m_commodity c ON d.commodityId=c.commodityId
		WHERE f.storeId=#{relationMap.storeId} AND f.status=1
		<if test="relationMap.beginTime != null and relationMap.beginTime != ''">
			AND DATE_FORMAT(d.addTime,'%Y%m%d') &gt;= DATE_FORMAT(#{relationMap.beginTime},'%Y%m%d')
		</if>
		<if test="relationMap.endTime != null and relationMap.endTime != ''">
			AND DATE_FORMAT(d.addTime,'%Y%m%d') &lt;= DATE_FORMAT(#{relationMap.endTime},'%Y%m%d')
		</if>
		<if test="relationMap.commodityNo != null and relationMap.commodityNo != ''">
			AND (
			d.commodityName LIKE CONCAT(CONCAT('%', #{relationMap.commodityNo}),'%') or
			c.commodityCode LIKE CONCAT(CONCAT('%',#{relationMap.commodityNo}),'%') or
			c.commodityNo LIKE CONCAT(CONCAT('%',#{relationMap.commodityNo}),'%') 
			)
		</if>
		ORDER BY d.addTime DESC
	</select>
	<select id="saleCountpageInfoQuery" parameterType="PageUtilEntity" resultType="CashDetail">
		SELECT
		c.commodityCode commodityCode,c.commodityNo commodityNo,a.commodityId,a.commodityName,
		a.totalVipPrice,a.inPrice,a.lirun,a.number,a.unitName FROM
		(
			SELECT d.unitName unitName,d.commodityId commodityId,d.commodityName commodityName,
				SUM(number) number,
				SUM(d.totalVipPrice / 100) totalVipPrice,
				SUM(d.inPrice / 100 * d.number) inPrice,
				SUM(d.totalVipPrice / 100) - SUM(d.inPrice / 100 * d.number) lirun
			FROM m_cashDetail d WHERE cashId IN (
					SELECT cashId FROM m_cashFlow WHERE storeId = #{relationMap.storeId} AND status = 1
				<if test="relationMap.beginTime != null and relationMap.beginTime != ''">
					AND DATE_FORMAT(addTime,'%Y%m%d') &gt;= DATE_FORMAT(#{relationMap.beginTime},'%Y%m%d')
				</if>
				<if test="relationMap.endTime != null and relationMap.endTime != ''">
					AND DATE_FORMAT(addTime,'%Y%m%d') &lt;= DATE_FORMAT(#{relationMap.endTime},'%Y%m%d')
				</if>
			)
			GROUP BY commodityName,commodityId,unitName
		) AS a
		LEFT JOIN m_commodity c ON a.commodityId = c.commodityId
		where 1=1
		<if test="relationMap.commodityNo != null and relationMap.commodityNo != ''">
			AND (
			a.commodityName LIKE CONCAT(CONCAT('%', #{relationMap.commodityNo}),'%') or
			c.commodityCode LIKE CONCAT(CONCAT('%',#{relationMap.commodityNo}),'%') or
			c.commodityNo LIKE CONCAT(CONCAT('%',#{relationMap.commodityNo}),'%') 
			)
		</if>
	</select>
	<select id="saleGraphCombo" parameterType="string" resultType="CashFlow">
		SELECT IFNULL(SUM(money),0) money,SUM(number) number,cashId,SUM(lirun) lirun,SUM(maolilv) maolilv
		 FROM (SELECT
			IFNULL(SUM(f.money/100),0) money,
			f.number,
			DATE_FORMAT(f.addTime, '%Y-%m-%d') cashId,
			IFNULL(SUM(d.totalVipPrice/100) - SUM(d.inPrice/100 * d.number),0) lirun,
			IFNULL(FORMAT((SUM(d.totalVipPrice/100)-SUM(d.inPrice/100*d.number))/SUM(f.money/100),2),0) maolilv
			FROM m_cashFlow f
			LEFT JOIN m_cashDetail d ON d.cashId = f.cashId
			WHERE DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= DATE(f.addTime)
			AND f.storeId = "51e6ecd897914ccdb5ed51149458bd0a"
			AND f.`status` = 1
			GROUP BY DATE_FORMAT(f.addTime, '%Y-%m-%d'),f.number
			ORDER BY DATE_FORMAT(f.addTime, '%Y-%m-%d')) AS a GROUP BY cashId
	</select>
	<select id="saleGraphPie" parameterType="string" resultType="CashDetail">
		select a.categoryName categoryName,sum(totalVipPrice) totalVipPrice from
		(select categoryId,categoryName from m_category 
		where storeId=#{storeId} AND status = 1 AND parentId="0") a
		left join m_category c on a.categoryId=c.parentId
		left join m_commodity co on co.categoryId=c.categoryId
		left join m_cashDetail d on d.commodityId=co.commodityId
		group by a.categoryName
	</select>
	<select id="passengerAnalysisGraph" parameterType="string" resultType="CashFlow">
		SELECT CASE WHEN HOUR(`addTime`)  BETWEEN 8 AND 9 THEN '08:00'
             WHEN HOUR(`addTime`)  BETWEEN 9 AND 10 THEN '09:00'
             WHEN HOUR(`addTime`)  BETWEEN 11 AND 12 THEN '11:00'
             WHEN HOUR(`addTime`)  BETWEEN 12 AND 13 THEN '12:00'
             WHEN HOUR(`addTime`)  BETWEEN 13 AND 14 THEN '13:00'
             WHEN HOUR(`addTime`)  BETWEEN 14 AND 15 THEN '14:00'
             WHEN HOUR(`addTime`)  BETWEEN 15 AND 16 THEN '15:00'
             WHEN HOUR(`addTime`)  BETWEEN 16 AND 17 THEN '16:00'
             WHEN HOUR(`addTime`)  BETWEEN 17 AND 18 THEN '17:00'
             WHEN HOUR(`addTime`)  BETWEEN 18 AND 19 THEN '18:00'
             WHEN HOUR(`addTime`)  BETWEEN 19 AND 20 THEN '19:00'
             WHEN HOUR(`addTime`)  BETWEEN 20 AND 21 THEN '20:00'
             WHEN HOUR(`addTime`)  BETWEEN 21 AND 22 THEN '21:00' 
             WHEN HOUR(`addTime`)  BETWEEN 22 AND 23 THEN '23:00'
             END hour,count(*) number
             FROM m_cashFlow WHERE storeId=#{storeId} AND `status`=1
             and DATE_FORMAT(`addTime`,'%Y-%m-%d')=date_format(now(),'%Y-%m-%d')
             GROUP BY hour
             ORDER BY hour
	</select>
	
	
	
</mapper>