<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StatisticsFinancialMapper">

	<resultMap type="Financial" id="FinancialResult">
		<result property="amountId" column="amountId" />
		<result property="userId" column="userId" />
		<result property="addTime" column="addTime" />
		<result property="totalMoney" column="totalMoney" />
		<result property="xzfRate" column="xzfRate" />
		<result property="amountMoney" column="amountMoney" />
		<result property="status" column="status" />
		<result property="amountNum" column="amountNum" />
	</resultMap>


	<select id="pageInfoQuery" parameterType="PageUtilEntity"
		resultType="Financial">
		select amountNum,addTime,totalMoney/100 totalMoney,xzfRate,amountMoney/100 amountMoney,status
		from
		m_amount m
		inner join sys_user s on m.userId = s.userId
		where 1=1
		<if test="relationMap.userId != null and relationMap.userId != ''">
			AND m.userId=#{relationMap.userId}
		</if>

		<if test="relationMap.beginTime != null and relationMap.beginTime != ''">
			AND DATE_FORMAT(m.addTime,'%Y%m%d') &gt;=
			DATE_FORMAT(#{relationMap.beginTime},'%Y%m%d')
		</if>
		<if test="relationMap.endTime != null and relationMap.endTime != ''">
			AND DATE_FORMAT(m.addTime,'%Y%m%d') &lt;=
			DATE_FORMAT(#{relationMap.endTime},'%Y%m%d')
		</if>


		<if test="relationMap.status != null and relationMap.status != ''">
			AND status = #{relationMap.status}
		</if>

		<if
			test="relationMap.fuzzyCondition != null and relationMap.fuzzyCondition != ''">
			AND (
			amountNum LIKE CONCAT(CONCAT('%',
			#{relationMap.fuzzyCondition}),'%')
			)
		</if>
		order by m.addTime desc
	</select>

	<select id="infoQuery" parameterType="map"
			resultType="Financial">
		select amountNum,addTime,totalMoney/100 totalMoney,xzfRate,amountMoney/100 amountMoney,status
		from
		m_amount m
		inner join sys_user s on m.userId = s.userId
		where 1=1
		<if test="userId != null and userId != ''">
			AND m.userId=#{userId}
		</if>

		<if test="beginTime != null and beginTime != ''">
			AND DATE_FORMAT(m.addTime,'%Y%m%d') &gt;=
			DATE_FORMAT(#{beginTime},'%Y%m%d')
		</if>
		<if test="endTime != null and endTime != ''">
			AND DATE_FORMAT(m.addTime,'%Y%m%d') &lt;=
			DATE_FORMAT(#{endTime},'%Y%m%d')
		</if>
		<if test="status != null and status != ''">
			AND status = #{status}
		</if>

		<if test="fuzzyCondition != null and fuzzyCondition != ''">
			AND (
			amountNum LIKE CONCAT(CONCAT('%',
			#{fuzzyCondition}),'%')
			)
		</if>
		order by m.addTime desc
	</select>
</mapper> 