<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StatisticsPaysMapper">

	<resultMap type="Pay" id="PaysResult">
		<result property="cashId" column="cashId" />
		<result property="userId" column="userId" />
		<result property="tradeCode" column="tradeCode" />
		<result property="payType" column="payType" />
		<result property="money" column="money" />
		<result property="status" column="status" />
		<result property="remark" column="remark" />
		<result property="addTime" column="addTime" />
		<result property="addIP" column="addIP" />
		<result property="storeId" column="storeId" />
		<result property="cashNo" column="cashNo" />
		<result property="cashName" column="cashName" />
	</resultMap>

	<select id="pageInfoQuery" parameterType="PageUtilEntity" resultType="Pay">
		select m.tradeCode,m.cashNo,m.addTime,m.money/100 money,m.payType,c.`name` cashName from m_cashFlow m
		LEFT JOIN t_cashier c on c.cashierId=m.cashierId where  m.storeId= #{relationMap.storeId} and m.`status`=1
		<if test="relationMap.userId != null and relationMap.userId != ''">
			AND m.userId=#{relationMap.userId}
		</if>

		<if test="relationMap.beginTime != null and relationMap.beginTime != ''">
			AND DATE_FORMAT(m.addTime,'%Y%m%d') &gt;=
			DATE_FORMAT(#{relationMap.beginTime},'%Y%m%d')
		</if>
		<if test="relationMap.endTime != null and relationMap.endTime != ''">
			AND DATE_FORMAT(m.addTime,'%Y%m%d') &lt;=
			DATE_FORMAT(#{relationMap.endTime},'%Y%m%d')
		</if>
		
		<if test="relationMap.payType != null and relationMap.payType != ''">
				AND m.payType = #{relationMap.payType}
			</if> 

		<if
			test="relationMap.fuzzyCondition != null and relationMap.fuzzyCondition != ''">
			AND (
			m.cashNo LIKE CONCAT(CONCAT('%',#{relationMap.fuzzyCondition}),'%')
			)
			order by m.addTime
		</if>
	</select>
	<select id="PayPageInfoQuery"
		resultType="Pays">
		select tradeCode,DATE_FORMAT(`addTime`,'%Y-%m-%d %H:%i:%S') `addTime`,money/100 money,payType
		from m_cashFlow m
		inner join sys_user s on m.userId = s.userId
		limit 10
	</select>


</mapper> 