<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CrmStoreMapper">
    <resultMap id="BaseResultMap" type="com.xingrongjinfu.system.storeaffairs.model.PurchaseDto" >
        <result column="storeName" property="storeName"/>
        <result column="name" property="name"/>
        <result column="orderPrice" property="orderPrice"/>
        <result column="orderNum" property="orderNum"/>
    </resultMap>

    <!--查询店铺和督导员关联的详情信息-->
    <select id="pageInfoQuery" parameterType="PageUtilEntity" resultType="HashMap" useCache="false">
        SELECT
        a.storeNo,a.storeId,a.storeName,a.userName,a.remain,a.phone,a.idCard,a.area,a.address,a.process,a.addTime,cds.deptName,s.`name`,s.supervisorId,top.totalPrice,tb.monthPrice,tb.monthNum,ca.totalVisitNum
        FROM
        t_store a
        LEFT JOIN sys_supervisor s ON a.supervisorId = s.supervisorNum
        LEFT JOIN (
            SELECT userId,SUM(t.orderPrice)*0.01 AS totalPrice FROM t_order t WHERE `status` = 1 AND orderStatus !='-1' GROUP BY userId
        ) top ON a.userId = top.userId
        LEFT JOIN (
            SELECT userId,SUM(orderPrice)*0.01 AS monthPrice,COUNT(1) AS monthNum FROM t_order WHERE <![CDATA[  DATE_SUB(CURDATE(), INTERVAL 30 DAY) <= date(orderTime)  ]]> AND `status` = 1 AND orderStatus !='-1' GROUP BY userId
        ) tb ON a.userId = tb.userId
        LEFT JOIN (
            SELECT userId,COUNT(1) AS totalVisitNum FROM c_visit_record WHERE `status` = 0 AND visitResultStatus IS NOT NULL GROUP BY userId
        ) ca ON ca.userId = a.userId
        LEFT JOIN (
            SELECT supervisorNum,deptName FROM sys_supervisor sss LEFT JOIN c_dept cd ON cd.deptId = sss.deptId
        ) cds ON a.supervisorId = cds.supervisorNum
        WHERE 1=1
        <if test="relationMap.supervisor != null and relationMap.supervisor != ''">
            AND a.supervisorId = #{relationMap.supervisor}
        </if>
        <if test="relationMap.process != null and relationMap.process != ''">
            AND a.process = #{relationMap.process}
        </if>
        <if test="relationMap.storeName != null and relationMap.storeName != ''">
            AND a.storeName  LIKE CONCAT(CONCAT('%', #{relationMap.storeName}),'%')
        </if>
        <if test="relationMap.beginTime != null and relationMap.beginTime != ''">
            AND DATE_FORMAT(a.addTime,'%Y%m%d') &gt;= DATE_FORMAT(#{relationMap.beginTime},'%Y%m%d')
        </if>
        <if test="relationMap.endTime != null and relationMap.endTime != ''">
            AND DATE_FORMAT(a.addTime,'%Y%m%d') &lt;= DATE_FORMAT(#{relationMap.endTime},'%Y%m%d')
        </if>
        ORDER BY totalPrice DESC
    </select>

    <!--将私海门店转入公海门店-->
    <update id="addPublic" parameterType="Store">
        UPDATE t_store SET supervisorId = NULL,transferMode = '0' WHERE storeId = #{storeId};
    </update>


	<select id="findBySupervisorNum" resultType="Store" parameterType="HashMap">
		SELECT * FROM t_store s WHERE s.supervisorId = #{supervisorIdOne};
	</select>
	
	<update id="batchUpdateStoreSupervistor" parameterType="HashMap">
        UPDATE t_store SET supervisorId = #{supervisorId} WHERE supervisorId = #{supervisorIdOne};
    </update>

    <select id="excelTable" resultType="HashMap">
        SELECT
        a.storeNo,a.storeId,a.storeName,a.userName,a.remain,a.phone,a.idCard,a.area,a.address,a.process,a.addTime,cds.deptName,s.`name`,s.supervisorId,top.totalPrice,tb.monthPrice,tb.monthNum,ca.totalVisitNum
        FROM
        t_store a
        LEFT JOIN sys_supervisor s ON a.supervisorId = s.supervisorNum
        LEFT JOIN (
            SELECT userId,SUM(t.orderPrice)*0.01 AS totalPrice FROM t_order t WHERE `status` = 1 AND orderStatus !='-1' GROUP BY userId
        ) top ON a.userId = top.userId
        LEFT JOIN (
            SELECT userId,SUM(orderPrice)*0.01 AS monthPrice, COUNT(1) AS monthNum FROM t_order WHERE  <![CDATA[ DATE_SUB(CURDATE(), INTERVAL 30 DAY)  <= date(orderTime) ]]>  AND `status` = 1 AND orderStatus !='-1' GROUP BY userId
        ) tb ON a.userId = tb.userId
        LEFT JOIN (
            SELECT userId,COUNT(1) AS totalVisitNum FROM c_visit_record WHERE `status` = 0 AND visitResultStatus IS NOT NULL GROUP BY userId
        ) ca ON ca.userId = a.userId
        LEFT JOIN (
            SELECT supervisorNum,deptName FROM sys_supervisor sss LEFT JOIN c_dept cd ON cd.deptId = sss.deptId
        ) cds ON a.supervisorId = cds.supervisorNum
        WHERE
        1 = 1
        <if test="supervisorId != null and supervisorId != ''">
            AND a.supervisorId = #{supervisorId}
        </if>
        <if test="process != null and process != ''">
            AND a.process = #{process}
        </if>
        <if test="storeName != null and storeName != ''">
            AND a.storeName  LIKE CONCAT(CONCAT('%', #{storeName}),'%')
        </if>
        <if test="beginTime != null and beginTime != ''">
            AND DATE_FORMAT(a.addTime,'%Y%m%d') &gt;= DATE_FORMAT(#{beginTime},'%Y%m%d')
        </if>
        <if test="endTime != null and endTime != ''">
            AND DATE_FORMAT(a.addTime,'%Y%m%d') &lt;= DATE_FORMAT(#{endTime},'%Y%m%d')
        </if>
        ORDER BY totalPrice DESC
    </select>

    <!--门店详情信息-->
    <select id="findStoreDetails" resultType="HashMap" parameterType="String">
        SELECT
        sup.`name`,ts.userId,ts.storeId,ts.storeName,ts.area,ts.supervisorId,ts.phone,ts.address,ts.userName,ts.addTime,ts.process,ts.`status`,
        ts.storeNo,ts.frontStorePic,ts.longtitude,ts.latitude,ts.storeArea,ts.chain,ts.equipment,ts.storeType,ts.partners,ts.building,
        IFNULL(ta.totalNum, 0) AS totalNum,IFNULL(ta.totalPrice,0) AS totalPrice,IFNULL(tb.monthPrice,0) AS monthPrice,IFNULL(tb.monthNum,0) AS monthNum,IFNULL(cc.couponNum,0) AS couponNum
        FROM t_store ts
        LEFT JOIN (
            SELECT userId,SUM(orderPrice)*0.01 AS totalPrice,COUNT(1) AS totalNum FROM t_order WHERE `status` = 1 AND orderStatus !='-1' GROUP BY userId
        ) ta ON ts.userId = ta.userId
        LEFT JOIN (
            SELECT userId,SUM(orderPrice)*0.01 AS monthPrice,COUNT(1) AS monthNum FROM t_order WHERE <![CDATA[DATE_SUB(CURDATE(), INTERVAL 30 DAY) <= date(orderTime)]]> AND `status` = 1 AND orderStatus !='-1' GROUP BY userId
        ) tb ON ts.userId = tb.userId
        LEFT JOIN (
            SELECT COUNT(1) AS couponNum , storeId FROM c_coupon GROUP BY storeId
        )AS cc ON cc.storeId=ts.storeId
        LEFT JOIN sys_supervisor sup ON sup.supervisorNum=ts.supervisorId
        WHERE ts.`status` = 1
        AND ts.storeId =#{0}
    </select>

    <!--门店订单列表-->
    <resultMap id="OrderResult" type="com.xingrongjinfu.crm.crmStore.model.Order">
        <id property="orderId" column="orderId"/>
        <result property="orderNumber" column="orderNumber"/>
        <result property="orderTime" column="orderTime"/>
        <result property="number" column="number"/>
        <result property="orderPrice" column="orderPrice"/>
        <result property="orderStatus" column="orderStatus"/>

        <!--<collection property="orderDetailsLists" ofType="com.xingrongjinfu.crm.crmStore.model.OrderDetails" >-->
            <!--<id property="orderDetailId" column="orderDetailId"/>-->
            <!--<result property="orderNumber" column="orderNumber"/>-->
            <!--<result property="commodityName" column="commodityName"/>-->
            <!--<result property="commodityNum" column="commodityNum"/>-->
            <!--<result property="commodityId" column="commodityId"/>-->
            <!--<result property="inPrice" column="inPrice"/>-->
            <!--<result property="salePrice" column="salePrice"/>-->
            <!--<result property="unit" column="unit"/>-->
            <!--<result property="imgMain" column="imgMain"/>-->
        <!--</collection>-->
    </resultMap>
    <select id="pageInfoQueryFindStoreDetailsOrder" resultMap="OrderResult" parameterType="PageUtilEntity"  useCache="false">
        SELECT t.orderId,t.orderNumber,t.orderTime,t.number,t.orderPrice*0.01 AS orderPrice,t.orderStatus
        FROM t_order t
        WHERE t.userId= #{relationMap.userId}
        AND t.`status`=1
        AND t.orderStatus != '-1'
        <!--订单审核状态1:待支付；2:待发货；3:待收货；4:已完成,5:已收款 6：客服审核，7：库存审核，8：退货中，9：交易关闭-->
        <if test="relationMap.orderStatus != null and relationMap.orderStatus != ''">
            AND t.orderStatus =#{relationMap.orderStatus}
        </if>
        ORDER BY t.orderTime DESC
    </select>

    <!--门店最近拜访时间-->
    <select id="recentOrder" resultType="com.xingrongjinfu.crm.crmStore.model.Order" parameterType="HashMap"  useCache="false">
        SELECT orderId,orderNumber,orderTime,`number`,orderPrice*0.01 AS orderPrice,orderStatus FROM t_order WHERE userId= #{userId} AND `status`=1 AND orderStatus != '-1' ORDER BY orderTime DESC LIMIT 1
    </select>

    <!--门店详情补券列表-->
    <select id="pageInfoQueryFindStoreDetailsCoupon" parameterType="PageUtilEntity" resultType="HashMap" useCache="false">
        SELECT c.createTime,c.storeId,c.storeName,c.auditStatus,c.orderNum,c.logisticsSingleNum,c.damagedFruit,c.inspectionScene,c.damageDescription,c.amount,i.*
        FROM c_coupon c
        LEFT JOIN c_coupon_img i
        ON c.couponId=i.couponId
        WHERE c.storeId = #{relationMap.storeId}
    </select>


    <!--门店最近拜访记录-->
    <select id="recentVisitRecord" resultType="com.xingrongjinfu.crm.visit.model.Visit" parameterType="HashMap">
        SELECT storeId,visitTime,visitManner,visitGoal,visitWith,visitResultStatus,visitResult,updateTime
        FROM c_visit_record WHERE storeId=#{storeId} AND `status`=0 AND visitResultStatus IS NOT NULL ORDER BY visitTime DESC LIMIT 1
    </select>

    <!--门店拜访记录列表-->
    <select id="pageInfoQueryStoreVisitRecord" resultType="HashMap" parameterType="PageUtilEntity">
        SELECT visitTime,visitManner,visitGoal,visitWith,visitResultStatus,visitResult,updateTime
        FROM c_visit_record WHERE storeId=#{relationMap.storeId } AND `status`=0 AND visitResultStatus IS NOT NULL
    </select>
</mapper>