<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PerformanceRankMapper">
    <!-- 查询业绩排名 组类，分页 -->
    <select id="pageInfoQuery" parameterType="PageUtilEntity" resultType="HashMap" useCache="false">
        SELECT b.supervisorId,b.supervisorNum,b.deptName,b.deptId,b.`name`,b.province,b.city,b.county,b.area,b.totalPrice,(@i :=@i + 1) AS deptRank
        FROM(
            SELECT ss.supervisorId,ss.supervisorNum,ss.deptId,ss.`name`,cd.deptName,ss.province,ss.city,ss.county,ss.area,IFNULL(tt.allPrice, 0) AS totalPrice
            FROM sys_supervisor ss
            INNER JOIN c_dept cd ON ss.deptId = cd.deptId
            LEFT JOIN (
                SELECT SUM(ta.orderPrice)*0.01 AS allPrice,ts.supervisorId
                FROM t_order ta
                LEFT JOIN t_store ts ON ta.userId = ts.userId
                WHERE ta.`status` = 1 AND ta.orderStatus != '-1' GROUP BY ts.supervisorId
            ) tt ON ss.supervisorNum = tt.supervisorId
            WHERE 1=1

            <if test="relationMap.userId != null and relationMap.userId != ''">
                AND ss.deptId=(SELECT deptId FROM sys_user WHERE userId =#{relationMap.userId})
            </if>

            <if test="relationMap.city != null and relationMap.city != ''">
                AND ss.city LIKE CONCAT(CONCAT('%', #{relationMap.city}),'%')
            </if>
            <if test="relationMap.province != null and relationMap.province != ''">
                AND ss.province LIKE CONCAT(CONCAT('%', #{relationMap.province}),'%')
            </if>
            <if test="relationMap.county != null and relationMap.county != ''">
                AND ss.county=#{relationMap.county}
            </if>
            <if test="relationMap.deptId != null and relationMap.deptId != ''">
                AND ss.deptId=#{relationMap.deptId}
            </if>
            ORDER BY totalPrice DESC
	    ) AS b,
	    (SELECT @i := 0) AS it
    </select>

    <!-- 查询业绩排名详情supervisorId -->
    <select id="performanceDetails" parameterType="HashMap" resultType="HashMap" useCache="false">
        SELECT 		c.deptName,c.deptRank,c.area,c.name,c.totalPrice,c.supervisorId FROM(
        SELECT b.supervisorId,b.supervisorNum,b.deptName,b.deptId,b.`name`,b.province,b.city,b.county,b.area,b.totalPrice,(@i :=@i + 1) AS deptRank
        FROM(
        SELECT ss.supervisorId,ss.supervisorNum,ss.deptId,ss.`name`,cd.deptName,ss.province,ss.city,ss.county,ss.area,IFNULL(tt.allPrice, 0) AS totalPrice
        FROM sys_supervisor ss
        INNER JOIN c_dept cd ON ss.deptId = cd.deptId
        LEFT JOIN (
        SELECT SUM(ta.orderPrice)*0.01 AS allPrice,ts.supervisorId
        FROM t_order ta
        LEFT JOIN t_store ts ON ta.userId = ts.userId
        WHERE ta.`status` = 1 AND ta.orderStatus != '-1' GROUP BY ts.supervisorId
        ) tt ON ss.supervisorNum = tt.supervisorId
        WHERE 1=1
        AND ss.deptId=#{deptId}
        ORDER BY totalPrice DESC
        ) AS b ,(SELECT @i := 0) AS it

        ) as c WHERE c.supervisorNum=#{supervisorId}
</select>


<!--业绩信息查询supervisorId-->
    <select id="rankingInfo" resultType="HashMap" parameterType="HashMap">
        SELECT
		  IFNULL(SUM(ta.amount), 0) AS amount,
		  IFNULL(SUM(tb.storeIdNum), 0) AS storeIdNum,
		  IFNULL(SUM(tc.visitStoreNum), 0) AS visitStoreNum,
		  IFNULL(SUM(<![CDATA[td.firstStore<2]]>), 0) AS firstStore,
		  IFNULL(SUM(te.amount1), 0) AS amount1,
		  IFNULL(SUM(tf.storeIdNum1), 0) AS storeIdNum1,
		  IFNULL(SUM(tg.visitStoreNum1), 0) AS visitStoreNum1,
		  IFNULL(SUM(<![CDATA[th.firstStore1<2]]>), 0) AS firstStore1
	    FROM t_store ts
		LEFT JOIN (
			SELECT userId, SUM(orderPrice)*0.01 AS amount
			FROM t_order
			WHERE `status` = 1 AND orderStatus NOT IN ('-1','1') AND orderTime >= #{timeBegin} AND <![CDATA[orderTime <= #{timeEnd}]]>
			GROUP BY userId
		) ta ON ts.userId = ta.userId
		LEFT JOIN (
			SELECT userId, COUNT(DISTINCT userId) AS storeIdNum
			FROM t_order
			WHERE `status` = 1 AND orderStatus NOT IN ('-1','1') AND orderTime >= #{timeBegin} AND <![CDATA[orderTime <= #{timeEnd}]]>
			GROUP BY userId
		) tb ON ts.userId = tb.userId
		LEFT JOIN (
			SELECT userId, COUNT(DISTINCT userId) AS visitStoreNum
			FROM c_visit_record
			WHERE `status` = 0 AND createTime >= #{timeBegin} AND <![CDATA[createTime <= #{timeEnd}]]>
			AND visitResultStatus IS NOT NULL
			GROUP BY userId
		) tc ON tc.userId = ts.userId
		LEFT JOIN (
		  SELECT userId, COUNT(userId) AS firstStore
			FROM t_order
			WHERE `status` = 1 AND orderStatus NOT IN ('-1','1') AND orderTime >= #{timeBegin} AND <![CDATA[orderTime <= #{timeEnd}]]>
			GROUP BY userId
		) td ON td.userId = ts.userId
		LEFT JOIN (
			SELECT userId, SUM(orderPrice)*0.01 AS amount1
			FROM t_order
			WHERE `status` = 1 AND orderStatus NOT IN ('-1','1') AND orderTime >= #{timeBegin1} AND <![CDATA[orderTime <= #{timeEnd1}]]>
			GROUP BY userId
		) te ON ts.userId = te.userId
		LEFT JOIN (
			SELECT userId, COUNT(DISTINCT userId) AS storeIdNum1
			FROM t_order
			WHERE `status` = 1 AND orderStatus NOT IN ('-1','1') AND orderTime >= #{timeBegin1} AND <![CDATA[orderTime <= #{timeEnd1}]]>
			GROUP BY userId
		) tf ON ts.userId = tf.userId
		LEFT JOIN (
			SELECT userId, COUNT(DISTINCT userId) AS visitStoreNum1
			FROM c_visit_record
			WHERE `status` = 0 AND createTime >= #{timeBegin1} AND <![CDATA[createTime <= #{timeEnd1}]]>
			AND visitResultStatus IS NOT NULL
			GROUP BY userId
		) tg ON tg.userId = ts.userId
		LEFT JOIN (
		  SELECT userId, COUNT(userId) AS firstStore1
			FROM t_order
			WHERE `status` = 1 AND orderStatus NOT IN ('-1','1') AND orderTime >= #{timeBegin1} AND <![CDATA[orderTime <= #{timeEnd1}]]>
			GROUP BY userId
		) th ON th.userId = ts.userId
        WHERE ts.supervisorId = #{supervisorId}
    </select>

    <!--获取部门-->
    <select id="getDept" resultType="Dept">
        SELECT deptId,deptName FROM c_dept
    </select>
</mapper>