<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="activityConpusUserMapper">


    <select id="pageInfoQuery" parameterType="PageUtilEntity"
            resultType="com.xingrongjinfu.activity.conpusmanage.model.ACouponUser" useCache="false">
        SELECT
        a.id,  b. NAME as couponName,c.storeName,a.useStatus,a.expireStatus,a.reviveTime,a.orderId
        FROM
        t_coupon_user a
        INNER JOIN t_coupon b
        INNER JOIN t_store c ON a.couponId = b.id
        AND a.storeId = c.storeId

        <if test="relationMap.name != null and relationMap.name != ''">
            and `name` LIKE CONCAT(CONCAT('%', #{relationMap.name}),'%')
        </if>

        <if test="relationMap.startTime != null and relationMap.startTime != ''">
            AND DATE_FORMAT(startTime,'%Y%m%d') &lt;= DATE_FORMAT(#{relationMap.startTime},'%Y%m%d')
            AND DATE_FORMAT(endTime,'%Y%m%d') >= DATE_FORMAT(#{relationMap.startTime},'%Y%m%d')
        </if>
        <if test="relationMap.endTime != null and relationMap.endTime != ''">
            AND DATE_FORMAT(startTime,'%Y%m%d') &lt;= DATE_FORMAT(#{relationMap.endTime},'%Y%m%d')
            AND DATE_FORMAT(endTime,'%Y%m%d') >= DATE_FORMAT(#{relationMap.endTime},'%Y%m%d')
        </if>
        <if test="relationMap.useStatus != null and relationMap.useStatus != ''">
            AND  a.useStatus = #{relationMap.useStatus}
        </if>
        <if test="relationMap.expireStatus != null and relationMap.expireStatus != ''">
            AND  a.expireStatus = #{relationMap.expireStatus}
        </if>
        order by id desc

    </select>



</mapper> 