<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommodityClassificationMapper">

	<resultMap type="Category" id="CategoryResult">
		<result property="categoryId" column="categoryId"/>
		<result property="categoryName" column="categoryName" />
		<result property="type" column="type" />
		<result property="img" column="img" />
		<result property="sort" column="sort" />
		<result property="status" column="status" />
		<result property="addTime" column="addTime" />
		<result property="parentId" column="parentId" />
	</resultMap>
	
	<select id="queryCategorys" resultMap="CategoryResult">
		SELECT * FROM t_category WHERE type = "FL" and `status`=1 order by sort asc
	</select>
	
	<select id="findByCategoryId" parameterType="String" resultType="Category">
		select * from t_category where categoryId=#{categoryId}
	</select>
	
	<select id="findCategoryByPid" parameterType="String" resultType="Category">
		SELECT * FROM t_category WHERE parentId = "0" and `status`=1 order by sort asc
	</select>
	
	<delete id="deleteCategoryInfo" parameterType="Category">
 		update t_category set status=-1 where 1=1
 		<if test="categoryId != null and categoryId  != ''">and categoryId = #{categoryId}</if>
 		<if test="parentId != null and parentId  != ''">and parentId = #{parentId}</if>
 	</delete>
	
	<!-- 修改信息 -->
	<update id="updateCategoryInfo" parameterType="Category">
 		update t_category
 		<set>
 			<if test="categoryName != null and categoryName != ''">categoryName = #{categoryName},</if>
 			<if test="type != null and type != ''">type = #{type},</if>
 			<if test="img != null and img != ''">img = #{img},</if>
 			<if test="sort != null and sort != ''">sort = #{sort},</if>
 			<if test="addTime != null and addTime != ''">addTime = #{addTime},</if>
 			<if test="parentId != null and parentId != ''">parentId = #{parentId}</if>
 		</set>
 		where 1=1
 		<if test="categoryId != null and categoryId  != ''">and categoryId = #{categoryId}</if>
 	</update>
	
	<!-- 插入信息 -->
 	<insert id="addCategoryInfo" parameterType="Category"  keyProperty="categoryId">
 		<selectKey keyProperty="categoryId" resultType="java.lang.String" order="BEFORE">
 			select uuid()
 		</selectKey>
 		insert into t_category
 		(	categoryId,
 			<if test="categoryName != null and categoryName != ''">categoryName,</if>
 			type,
 			<if test="img != null and img != ''">img,</if>
 			<if test="sort != null and sort != ''">sort,</if>
 			<if test="status != null and status != ''">status,</if>
 			addTime,
 			<if test="parentId != null and parentId != ''">parentId</if>
 			
 		)values(#{categoryId},
 			<if test="categoryName != null and categoryName != ''">#{categoryName},</if>
 			"FL",
 			<if test="img != null and img != ''">#{img},</if>
 			<if test="sort != null and sort != ''">#{sort},</if>
 			<if test="status != null and status != ''">#{status},</if>
 			sysdate(),
 			<if test="parentId != null and parentId != ''">#{parentId}</if>
 		)
 	</insert>	
 	
 	<select id="queryCom" parameterType="string" resultType="int">
 		SELECT COUNT(*) FROM t_category c RIGHT JOIN t_commodity m ON c.categoryId=m.categoryId 
 		WHERE c.categoryId =#{0}
 	</select>
 	
 	<select id="isParentId" parameterType="string" resultType="int">
 		SELECT COUNT(*) FROM t_category 
		WHERE categoryId =#{0} AND parentId='0'
 	</select>
</mapper> 