<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommodityMapper">

	<resultMap id="CommodityResult" type="Commodity">
		<result column="commodityName" property="commodityName" />
		<result column="commodityNo" property="commodityNo" />
		<result column="saleNum" property="saleNum" />
		<result column="salePrice" property="salePrice" />
		<result column="inPrice" property="inPrice" />
		<result column="unit" property="unit" />
		<result column="totalPrice" property="totalPrice" />
		<result column="totalInPrice" property="totalInPrice" />
	</resultMap>
	
	<select id="pageInfoQuery" parameterType="PageUtilEntity" resultMap="CommodityResult">
		SELECT t.commodityId,t.commodityNo,t.commodityName,t.unit,SUM(t.commodityNum) saleNum,sum(t.totalPrice) totalPrice,sum(t.inPrice * t.commodityNum) AS totalInPrice FROM t_order_detail t where 1=1
		<if test="relationMap.beginTime != null and relationMap.beginTime != ''"><!-- 开始时间检索 -->
			AND DATE_FORMAT(t.addTime,'%Y%m%d') &gt;= DATE_FORMAT(#{relationMap.beginTime},'%Y%m%d')
		</if>
		<if test="relationMap.endTime != null and relationMap.endTime != ''"><!-- 结束时间检索 -->
			AND DATE_FORMAT(t.addTime,'%Y%m%d') &lt;= DATE_FORMAT(#{relationMap.endTime},'%Y%m%d')
		</if>
		<if test="relationMap.commodityName !=null and relationMap.commodityName !=''">
			AND (
			t.commodityName LIKE CONCAT(CONCAT('%', #{relationMap.commodityName}),'%')
			OR
			t.commodityNo LIKE CONCAT(CONCAT('%', #{relationMap.commodityName}),'%')
			)
		</if><!--关键词查询-->
		GROUP BY t.commodityId,t.commodityNo,t.commodityName,t.unit

	</select>
</mapper> 