<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FinancialMapper">

	<resultMap id="FinancialResult" type="Financial">
		<result column="amountId" property="amountId" />
		<result column="userId" property="userId" />
		<result column="addTime" property="addTime" />
		<result column="totalMoney" property="totalMoney" />
		<result column="xzfRate" property="xzfRate" />
		<result column="amountMoney" property="amountMoney" />
		<result column="status" property="status" />
		<result column="storeName" property="storeName" />
		<result column="amountNum" property="amountNum" />
		<result column="amountStatus" property="amountStatus" />
		<result column="updateTime" property="updateTime" />
	</resultMap>

	<select id="pageInfoQuery" parameterType="PageUtilEntity" resultMap="FinancialResult">
		SELECT a.amountId,a.amountNum,s.storeName,a.addTime,a.totalMoney/100 totalMoney,a.xzfRate,a.amountMoney/100 amountMoney,a.status,a.amountStatus
		 FROM m_amount a LEFT JOIN t_store s ON a.userId=s.userId
		 WHERE 1=1
		<if test="relationMap.beginTime != null and relationMap.beginTime != ''"><!-- 开始时间检索 -->
			AND DATE_FORMAT(a.addTime,'%Y%m%d') &gt;= DATE_FORMAT(#{relationMap.beginTime},'%Y%m%d')
		</if>
		<if test="relationMap.endTime != null and relationMap.endTime != ''"><!-- 结束时间检索 -->
			AND DATE_FORMAT(a.addTime,'%Y%m%d') &lt;= DATE_FORMAT(#{relationMap.endTime},'%Y%m%d')
		</if>
		<if test="relationMap.status !=null and relationMap.status !=''">
			AND a.amountStatus=#{relationMap.status}
		</if>
		<if test="relationMap.storeName !=null and relationMap.storeName !=''">
			AND (
			a.amountNum LIKE CONCAT(CONCAT('%', #{relationMap.storeName}),'%')
			OR
			s.storeName LIKE CONCAT(CONCAT('%', #{relationMap.storeName}),'%')
			)
		</if><!--关键词查询-->
	</select>

	<update id="updateAmountInfo" parameterType="Financial">
		UPDATE m_amount
		<set>
			<if	test="totalMoney!=null">totalMoney=#{totalMoney}*100,</if>
			<if	test="xzfRate!=null ">xzfRate=#{xzfRate},</if>
			<if	test="amountMoney!=null ">amountMoney=#{amountMoney}*100,</if>
			<if	test="amountStatus!=null ">amountStatus=#{amountStatus},</if>
			<if	test="status!=null ">status=#{status},</if>
			updateTime=sysdate()
		</set>
		WHERE 1=1
		<if test="amountId !=null and amountId !=''">
			AND amountId=#{amountId}
		</if>
	</update>
</mapper> 