<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MerchantMapper">
    <resultMap id="MerchantResult" type="Merchant">
        <result column="userId" property="userId" jdbcType="VARCHAR" />
        <result column="mobilePhone" property="mobilePhone" jdbcType="VARCHAR" />
        <result column="storeName" property="storeName" jdbcType="VARCHAR" />
        <result column="userName" property="userName" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="locked" property="locked" jdbcType="INTEGER" />

    </resultMap>

    <resultMap id="BalanceResult" type="Balance">
        <result column="payTime" property="payTime"/>
        <result column="totalPrice" property="totalPrice"/>
        <result column="remain" property="remain"/>
    </resultMap>


    <select id="pageInfoQuery" parameterType="PageUtilEntity" resultMap="MerchantResult">
        SELECT s.userId,s.mobilePhone,t.storeName,t.userName,t.phone,s.locked
        FROM sys_user s
        LEFT JOIN t_store t ON s.userId=t.userId
        WHERE 1=1 AND s.type='B'
        <if test="relationMap.status!= null and relationMap.status!=''">
            AND s.locked = #{relationMap.status}
        </if>
        <if test="relationMap.name !=null and relationMap.name !=''">
            AND
            (
            s.mobilePhone LIKE CONCAT(CONCAT('%', #{relationMap.name}),'%')
            OR
            t.storeName LIKE CONCAT(CONCAT('%', #{relationMap.name}),'%')
            )
        </if><!--关键词查询-->
    </select>

    <select id="getMerchantInfo" resultType="Merchant">
        SELECT s.userId,s.mobilePhone,t.storeName,t.userName,t.phone,s.locked
        FROM sys_user s
        LEFT JOIN t_store t ON s.userId=t.userId
        WHERE s.userId = #{userId}
    </select>

   <select id="userAccountQuery" resultType="AccountInfo">
        SELECT s.storeName storeName,s.userName userName,s.idCard idCard,s.phone phone,s.area area,s.address address,
        s.frontPic frontPic,s.backPic backPic,s.licensePic licensePic,s.frontStorePic frontStorePic,s.innerStorePic innerStorePic,
        b.bankType bankType,b.accountType accountType,b.userName bankUserName,b.oprateType oprateType,b.cardNumber cardNumber,
        b.idType idType,b.idCard cIdCard,b.remark remark
        FROM t_store s LEFT JOIN t_bankCard b ON s.userId=b.userId WHERE s.userId=#{userId}
    </select>

    <update id="updateMerchantInfo" parameterType="User">
        UPDATE sys_user
        <set>
            <if test="status!=null and status!=''">locked=#{status}</if>
        </set>
        WHERE 1=1
        <if test="userId != null and userId  != ''">and userId = #{userId}</if>
    </update>

    <select id="AccountpageInfoQuery" parameterType="PageUtilEntity" resultMap="BalanceResult">
        SELECT o.payTime payTime,o.totalPrice,s.remain
        FROM t_order o JOIN t_store s ON o.userId=s.userId
        WHERE 1=1
        <if test="relationMap.userId!=null and relationMap.userId!=''">AND o.userId=#{relationMap.userId}</if>>
    </select>
</mapper>