<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MerchantMapper">
    <resultMap id="MerchantResult" type="Merchant">
        <result column="userId" property="userId" jdbcType="VARCHAR" />
        <result column="mobilePhone" property="mobilePhone" jdbcType="VARCHAR" />
        <result column="storeName" property="storeName" jdbcType="VARCHAR" />
        <result column="userName" property="userName" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="locked" property="locked" jdbcType="INTEGER" />
        <result column="storeId" property="storeId" jdbcType="VARCHAR" />
        <result column="licenseId" property="licenseId"  />
        <result column="name" property="supervisorName"  />
        <result column="addTime" property="addTime"  />


    </resultMap>

    <resultMap id="BalanceResult" type="Balance">
        <result column="addTime" property="addTime"/>
        <result column="item" property="item"/>
        <result column="money" property="money"/>
        <result column="remain" property="remain"/>
    </resultMap>


    <select id="pageInfoQuery" parameterType="PageUtilEntity" resultMap="MerchantResult">
        SELECT s.userId,t.storeId,t.storeArea,t.chain,t.equipment,t.storeType,t.partners,t.startHours,t.endHours,t.startCollect,t.endCollect,t.building,s.mobilePhone,sv.name name,t.storeName,t.userName,DATE_FORMAT(t.addTime,"%Y-%m-%d") addTime,t.phone,s.locked,t.licenseId
        FROM sys_user s
        LEFT JOIN t_store t ON s.userId=t.userId
        LEFT JOIN sys_supervisor sv on sv.supervisorNum=t.supervisorId
        WHERE 1=1 AND s.type='B'
        <if test="relationMap.beginTime != null and relationMap.beginTime != ''">
            AND DATE_FORMAT(t.addTime,'%Y%m%d') &gt;= DATE_FORMAT(#{relationMap.beginTime},'%Y%m%d')
        </if>
        <if test="relationMap.endTime != null and relationMap.endTime != ''">
            AND DATE_FORMAT(t.addTime,'%Y%m%d') &lt;= DATE_FORMAT(#{relationMap.endTime},'%Y%m%d')
        </if>
        <if test="relationMap.status!= null and relationMap.status!=''">
            AND s.locked = #{relationMap.status}
        </if>
        <if test="relationMap.storeType!= null and relationMap.storeType!=''">
            AND t.storeType = #{relationMap.storeType}
        </if>
        <if test="relationMap.chain!= null and relationMap.chain!=''">
            AND t.chain = #{relationMap.chain}
        </if>
        <if test="relationMap.equipment!= null and relationMap.equipment!=''">
            AND t.equipment = #{relationMap.equipment}
        </if>
        <if test="relationMap.name !=null and relationMap.name !=''">
            AND
            (
            s.mobilePhone LIKE CONCAT(CONCAT('%', #{relationMap.name}),'%')
            OR
            t.storeName LIKE CONCAT(CONCAT('%', #{relationMap.name}),'%')
            )
        </if><!--关键词查询-->
        ORDER BY addTime desc
    </select>

    <select id="getMerchantInfo" parameterType="Merchant" resultType="Merchant">
        SELECT s.userId,s.mobilePhone,t.storeName,t.userName,t.phone,s.locked,t.licenseId
        FROM sys_user s
        LEFT JOIN t_store t ON s.userId=t.userId
        WHERE t.storeId=#{storeId}
    </select>

   <select id="userAccountQuery" resultType="AccountInfo" parameterType="string">
        SELECT s.userId,s.storeName,s.userName,s.idCard,s.phone,s.area,s.address,s.licenseId,s.storeArea,s.chain,s.equipment,s.storeType,s.partners,s.startHours,s.endHours,s.startCollect,s.endCollect,s.building,
        c.frontPic frontPic,c.backPic backPic,s.licensePic,s.frontStorePic,s.innerStorePic,
        b.bankType,b.accountType,b.userName bankUserName,b.cardNumber,
        b.idType,b.idCard cIdCard,b.remark
        FROM t_store s LEFT JOIN (SELECT * FROM t_bankCard WHERE bankType=0 AND `status`=1) b ON s.userId=b.userId 
        LEFT JOIN (SELECT * FROM t_user_cert WHERE `status`=1) c ON s.userId=c.userId
        WHERE s.storeId=#{storeId}
    </select>

    <update id="updateMerchantInfo" parameterType="User">
        UPDATE sys_user
        <set>
            <if test="status!=null and status!=''">locked=#{status}</if>
        </set>
        WHERE 1=1
        <if test="userId != null and userId  != ''">and userId = #{userId}</if>
    </update>

    <select id="AccountpageInfoQuery" parameterType="PageUtilEntity" resultMap="BalanceResult">
        SELECT banId,userId,item,type,money/100 money,status,addTime,remain/100 as remain FROM t_balance
        WHERE 1=1
        <if test="relationMap.userId!=null and relationMap.userId!=''">AND userId=#{relationMap.userId}</if>
        ORDER BY addTime desc
    </select>
</mapper>