<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderMapper">

	<resultMap id="OrderResult" type="Orders">
		<result column="orderId" property="orderId" />
		<result column="orderNumber" property="orderNumber" />
		<result column="addressId" property="addressId" />
		<result column="userId" property="userId" />
		<result column="orderTime" property="orderTime" />
		<result column="payTime" property="payTime" />
		<result column="number" property="number" />
		<result column="totalPrice" property="totalPrice" />
		<result column="freight" property="freight" />
		<result column="payment" property="payment" />
		<result column="orderPrice" property="orderPrice" />
		<result column="orderStatus" property="orderStatus" />
		<result column="status" property="status" />
		<result column="userName" property="userName" />
		<result column="platform" property="platform" />
		<result column="storeName" property="storeName" />
		<result column="userNames" property="userNames" />
		<result column="phone" property="phone" />
		<result column="area" property="area" />
		<result column="address" property="address" />
		
	</resultMap>


	<resultMap id="OrderDetailResult" type="OrderDetail">
		<result column="orderDetailId" property="orderDetailId" />
		<result column="orderNumber" property="orderNumber" />
		<result column="commodityId" property="commodityId" />
		<result column="commodityNum" property="commodityNum" />
		<result column="commodityName" property="commodityName" />
		<result column="addTime" property="addTime" />
		<result column="inPrice" property="inPrice" />
		<result column="salePrice" property="salePrice" />
		<result column="taxRate" property="taxRate" />
		<result column="unit" property="unit" />
		<result column="imgMain" property="imgMain" />
		<result column="totalPrice" property="totalPrice" />
		<result column="commodityNo" property="commodityNo" />
	</resultMap>

	<resultMap id="OrderExpressResult" type="OrderExpress">
		<result column="expressId" property="expressId" />
		<result column="expressNo" property="expressNo" />
		<result column="orderNumber" property="orderNumber" />
		<result column="expressFirm" property="expressFirm" />
		<result column="address" property="address" />
		<result column="status" property="status" />
		<result column="addTime" property="addTime" />
		<result column="freight" property="freight" />
	</resultMap>
	
	<select id="pageInfoQuery" parameterType="PageUtilEntity" resultMap="OrderResult">
		SELECT o.orderNumber,o.orderTime,o.payTime,s.userName,o.orderPrice/100 orderPrice,o.platform,o.orderStatus,o.payCode
		FROM t_order o
		LEFT JOIN sys_user s ON o.userId=s.userId
		WHERE 1=1 and `status`=1
		<if test="relationMap.beginTime != null and relationMap.beginTime != ''"><!-- 开始时间检索 -->
			AND DATE_FORMAT(o.orderTime,'%Y%m%d') &gt;= DATE_FORMAT(#{relationMap.beginTime},'%Y%m%d')
		</if>
		<if test="relationMap.endTime != null and relationMap.endTime != ''"><!-- 结束时间检索 -->
			AND DATE_FORMAT(o.orderTime,'%Y%m%d') &lt;= DATE_FORMAT(#{relationMap.endTime},'%Y%m%d')
		</if>
		<if test="relationMap.payType != null and relationMap.payType != ''">
			<choose>
				<when test="relationMap.payType == '1'.toString()">
					AND o.orderStatus=#{relationMap.payType}
				</when>
				<otherwise>
					AND o.orderStatus !='1'
				</otherwise>
			</choose>
		</if>
		<if test="relationMap.platform != null and relationMap.platform != ''">
			AND o.platform=#{relationMap.platform}
		</if>
		<if test="relationMap.orderStatus != null and relationMap.orderStatus != ''">
					AND o.orderStatus=#{relationMap.orderStatus}
		</if>
		<if test="relationMap.orderNumber !=null and relationMap.orderNumber !=''">
			AND (
			o.orderNumber LIKE CONCAT(CONCAT('%', #{relationMap.orderNumber}),'%')
			OR
			s.userName LIKE CONCAT(CONCAT('%', #{relationMap.orderNumber}),'%')
			)
		</if>
		<!--关键词查询-->
	     order by o.orderTime DESC
	</select>
	
	<select id="findOrderInfo" parameterType="String" resultMap="OrderResult">
		SELECT o.orderNumber,o.orderTime,s.userName,o.orderPrice/100 orderPrice,o.orderStatus,t.storeName,
		ad.name userNames,ad.phone phone,ad.area `area`,ad.address address,o.totalPrice/100 totalPrice,o.freight/100 freight,o.payment/100 payment
		FROM t_order o LEFT JOIN sys_user s ON o.userId=s.userId
		LEFT JOIN t_address ad ON ad.`addrId`=o.`addressId`
		LEFT JOIN t_store t ON o.userId=t.userId WHERE o.orderNumber=#{orderNumber}
	</select>

	<select id="findOrderDetailInfo" parameterType="String" resultMap="OrderDetailResult">
		SELECT d.commodityName,c.commodityNo,d.unit,d.commodityNum,d.salePrice/100 inPrice
		FROM t_order_detail d LEFT JOIN t_commodity c ON d.commodityId=c.commodityId
		WHERE d.orderNumber=#{orderNumber}
	</select>

	<update id="updateOrderInfo" parameterType="Orders">
		UPDATE t_order
		<set>
			<if test="orderStatus !=null and orderStatus!=''">orderStatus=#{orderStatus},</if>
			arriveTime=sysdate()
		</set>
		WHERE 1=1
		<if test="orderNumber!=null and orderNumber!=''"> AND orderNumber=#{orderNumber}</if>
	</update>

	<select id="ExpresspageInfoQuery" parameterType="PageUtilEntity" resultMap="OrderExpressResult">
		SELECT expressId,expressNo,orderNumber,expressFirm,address,status,addTime,freight/100 freight FROM t_express
		WHERE 1=1
		<if test="relationMap.expressFirm !=null and relationMap.expressFirm !=''">
			AND expressFirm=#{relationMap.expressFirm}
		</if>
		<if test="relationMap.orderNumber!=null and relationMap.orderNumber!=''">
			AND
			(
			orderNumber LIKE CONCAT(CONCAT('%', #{relationMap.orderNumber}),'%')
			OR
			expressNo LIKE CONCAT(CONCAT('%', #{relationMap.orderNumber}),'%')
			)
		</if>
	</select>

	<select id="findAllOrders" resultType="Integer">
		SELECT count(orderNumber) FROM t_order WHERE status=1 AND orderStatus !='1'
	</select>

	<update id="updatePayOrder" parameterType="string">
		update t_order set orderStatus=5 where orderNumber=#{0}
	</update>
</mapper> 