<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StoreAffairMapper"> 

	<select id="CertificationpageInfoQuery"  parameterType="PageUtilEntity"  resultType="Store">
		select a.storeId,a.storeNo,a.addTime,b.accountName,s.`name`,a.process,a.remark,bc.cardNumber
		from t_store a
		LEFT join  sys_user b
		on a.userId=b.userId
		LEFT JOIN sys_supervisor s
		on s.supervisorId=a.supervisorId
		left join t_bankCard bc
		on bc.userId=a.userId
		where 1=1 and bc.bankType=0
			<if test="relationMap.accountName != null and relationMap.accountName != ''">
				AND (
					b.accountName LIKE CONCAT(CONCAT('%', #{relationMap.accountName}),'%')
				) 
			</if> 
			<if test="relationMap.supervisor != null and relationMap.supervisor != ''">
				AND a.supervisorId = #{relationMap.supervisor}
			</if> 
			<if test="relationMap.repaymentStatus != null and relationMap.repaymentStatus != ''">
				AND a.process = #{relationMap.repaymentStatus}
			</if> 
			<if test="relationMap.beginTime != null and relationMap.beginTime != ''"> 
				AND DATE_FORMAT(a.addTime,'%Y%m%d') &gt;= DATE_FORMAT(#{relationMap.beginTime},'%Y%m%d')
			</if>
			<if test="relationMap.endTime != null and relationMap.endTime != ''"> 
				AND DATE_FORMAT(a.addTime,'%Y%m%d') &lt;= DATE_FORMAT(#{relationMap.endTime},'%Y%m%d')
			</if>
		ORDER BY a.addTime DESC
	</select>
	
	<!-- 查询所有监督员对象 -->
	<select id="getSupervisorList"    resultType="supervisor">
		select  supervisorId,name from sys_supervisor
	</select>
	
	
	<!-- 查询店铺详细信息 -->
	<select id="getStoreInfo"  parameterType="java.lang.String"   resultType="Store">
		select storeId,userId,storeName,userName,idCard,phone,area,address,process,remark,supervisorId,licensePic,frontStorePic,innerStorePic,contractPic,transactionPic,utilitiesPic from t_store where storeId = #{storeId}
	</select>
	<!-- 查询店铺详细信息 -->
	<select id="getStoreInfoByUserId"  parameterType="java.lang.String"   resultType="Store">
		select storeId,userId,storeName,userName,idCard,phone,area,address,process,remark,supervisorId,licensePic,frontStorePic,innerStorePic,contractPic,transactionPic,utilitiesPic from t_store where userId = #{userId}
	</select>

	
	<!-- 查询银行账户详细信息 -->
	<select id="getBankAccountInfo"  parameterType="java.lang.String"   resultType="BankAccount">
		select bankType,accountType,userName,cardNumber,idType,idCard,remark
		 from t_bankCard 
		where userId=(select userId from t_store where storeId = #{storeId})  and bankType=0
	</select>
	
	 
	<update id="updateCheckToStore"  parameterType="Store">
		update  t_store  
		<set>
 			<if test="supervisorId != null and supervisorId != ''">supervisorId = #{supervisorId},</if>
 			<if test="process != null and process != ''">process = #{process},</if>
 			remark = #{remark}
 		</set>
 		where  storeId= #{storeId} 
		
	</update>
	 
	 
	 
	
	<select id="repaymentpageInfoQuery"  parameterType="PageUtilEntity"  resultType="Repay">
		select a.repayId repayId,a.repayNo,a.addTime,c.orderNumber,b.storeName,a.repayDate,a.planTotal/100 planTotal,a.status,
		a.repayMoney/100 repayMoney,(a.planTotal/100-a.repayMoney/100) withholdMoney
			from t_repay a 
			LEFT join  t_store b on a.userId=b.userId 
			LEFT join  t_order c on a.orderId=c.orderId
		where 1=1
		<if test="relationMap.type != null and relationMap.type=='B'.toString()">
			AND b.storeId=#{relationMap.storeId}
		</if>
			<if test="relationMap.dateType=='addTime'">
				<if test="relationMap.beginTime != null and relationMap.beginTime != ''"> 
					AND DATE_FORMAT(a.addTime,'%Y%m%d') &gt;= DATE_FORMAT(#{relationMap.beginTime},'%Y%m%d')
				</if>
				<if test="relationMap.endTime != null and relationMap.endTime != ''"> 
					AND DATE_FORMAT(a.addTime,'%Y%m%d') &lt;= DATE_FORMAT(#{relationMap.endTime},'%Y%m%d')
				</if>  
			</if> 
			<if test="relationMap.dateType=='repayDate'">
				<if test="relationMap.beginTime != null and relationMap.beginTime != ''"> 
					AND DATE_FORMAT(a.repayDate,'%Y%m%d') &gt;= DATE_FORMAT(#{relationMap.beginTime},'%Y%m%d')
				</if>
				<if test="relationMap.endTime != null and relationMap.endTime != ''"> 
					AND DATE_FORMAT(a.repayDate,'%Y%m%d') &lt;= DATE_FORMAT(#{relationMap.endTime},'%Y%m%d')
				</if>  
			</if> 
			<if test="relationMap.repaymentStatus != null and relationMap.repaymentStatus != ''">
				AND a.status = #{relationMap.repaymentStatus}
			</if> 
			<if test="relationMap.fuzzyCondition != null and relationMap.fuzzyCondition != ''">
				AND (
						a.repayNo LIKE CONCAT(CONCAT('%', #{relationMap.fuzzyCondition}),'%') or 
						c.orderNumber LIKE CONCAT(CONCAT('%', #{relationMap.fuzzyCondition}),'%') or 
						b.storeName LIKE CONCAT(CONCAT('%', #{relationMap.fuzzyCondition}),'%') 
						)
			</if>
		ORDER BY a.addTime ASC
	</select>
	 
	 <select id="getByRepayId" parameterType="string" resultType="Repay">
	 	SELECT repayId,repayNo,planTotal/100 planTotal,repayMoney/100 repayMoney,remark,
	 	(planTotal/100-repayMoney/100) withholdMoney 
		FROM t_repay WHERE repayId=#{0}
	 </select>
	 
	 <update id="updateRepay" parameterType="Repay">
		UPDATE t_repay
		<set>
			repayMoney = #{repayMoney},
			repayDate = #{repayDate},
			status = #{status},
			repayType = #{repayType},
			updateTime = #{updateTime}
		</set>
		where repayId = #{repayId}
	</update>
	 <insert id="addRepayDetail" parameterType="RepayDetail">
		INSERT INTO t_repay_detail(repayDetailId,repayId,remark,userId,
		<if test="repayMoney != null and repayMoney != ''">repayMoney,</if>
		<if test="repayType != null and repayType != ''">repayType,</if>
		repayTime)
		values(#{repayDetailId},#{repayId},#{remark},#{userId},
		<if test="repayMoney != null and repayMoney != ''">#{repayMoney},</if>
		<if test="repayType != null and repayType != ''">#{repayType},</if>
		#{repayTime})
	</insert>
	
	<select id="getRepayDetail" parameterType="string" resultType="RepayDetail">
SELECT  repayDetailId,repayId,repayMoney/100 repayMoney,repayTime,repayType,operator,remark 
		FROM t_repay_detail WHERE repayId=#{0} ORDER BY repayTime DESC
	</select>
	 
	 
</mapper> 