<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SupervisorMapper">

    <resultMap type="Supervisor" id="SupervisorResult">
        <result property="supervisorId" column="supervisorId" />
        <result property="name" column="name" />
        <result property="phone" column="phone" />
        <result property="area" column="area" />
        <result property="status" column="status" />
        <result property="creatTime" column="creatTime" />
        <result property="supervisorNum" column="supervisorNum" />
        <result property="deptId" column="deptId" />
        <result property="crmLogin" column="crmLogin" />
        <result property="crmPwd" column="crmPwd" />
        <result property="province" column="province" />
        <result property="city" column="city" />
        <result property="county" column="county" />
        <result property="roleId" column="roleId" />
        <result property="headPortrait" column="headPortrait" />
    </resultMap>


    <select id="pageInfoQuery" parameterType="PageUtilEntity" resultMap="SupervisorResult">
        SELECT supervisorId,name,phone,area,status,supervisorNum FROM sys_supervisor
        WHERE 1=1
        <if test="relationMap.status!=null and relationMap.status !=''">
            AND status =#{relationMap.status}
        </if>
        <if test="relationMap.userName!=null and relationMap.userName!=''">
            AND
            (
            name LIKE CONCAT(CONCAT('%', #{relationMap.userName}),'%')
            OR
            supervisorNum LIKE CONCAT(CONCAT('%', #{relationMap.userName}),'%')
            OR
            phone LIKE CONCAT(CONCAT('%', #{relationMap.userName}),'%')
            )
        </if>
    </select>
    <!--查询CRM督导员,角色和部门信息-->
    <select id="SupervisorCRMPageInfoQuery" parameterType="PageUtilEntity" resultType="HashMap">
        SELECT
        ss.*, cd.*,sr.*
        FROM
        sys_supervisor ss
        LEFT JOIN c_dept cd ON ss.deptId = cd.deptId
        LEFT JOIN sys_role sr ON ss.roleId = sr.roleId
        WHERE 1 = 1
        <if test="relationMap.status!=null and relationMap.status!=''">
            AND ss.status = #{relationMap.status}
        </if>
        <if test="relationMap.userName!=null and relationMap.userName!=''">
            AND
            (
            ss.name LIKE CONCAT(CONCAT('%', #{relationMap.userName}),'%')
            OR
            ss.supervisorNum LIKE CONCAT(CONCAT('%', #{relationMap.userName}),'%')
            OR
            ss.phone LIKE CONCAT(CONCAT('%', #{relationMap.userName}),'%')
            )
        </if>;

    </select>
    <!--根据ID修改督导员信息-->
    <update id="updateCRMSupervisor" parameterType="Supervisor">
        UPDATE sys_supervisor
        <set>
            <if test="name !=null and name!=''">name =#{name},</if>
            <if test="phone !=null and phone!=''">phone =#{phone},</if>
            <if test="area !=null and area!=''">area =#{area},</if>
            <if test="status !=null">status =#{status},</if>
            <if test="deptId !=null">deptId =#{deptId},</if>
            <if test="crmLogin !=null">crmLogin =#{crmLogin},</if>
            <if test="crmPwd !=null">crmPwd =#{crmPwd},</if>
            <if test="province !=null">province =#{province},</if>
            <if test="city !=null">city =#{city},</if>
            <if test="county !=null">county =#{county},</if>
            <if test="roleId !=null">roleId =#{roleId},</if>
            <if test="headPortrait !=null">headPortrait =#{headPortrait},</if>
            <if test="provinceCode !=null">provinceCode =#{provinceCode},</if>
            <if test="cityCode !=null">cityCode =#{cityCode},</if>
            <if test="supervisorNum !=null and supervisorNum!=''">supervisorNum =#{supervisorNum}</if>
            creatTime=sysdate()
        </set>
        WHERE 1=1
        <if test="supervisorId !=null">
            AND supervisorId=#{supervisorId}
        </if>
    </update>
    <update id="updateSupervisor" parameterType="Supervisor">
        UPDATE sys_supervisor
        <set>
            <if test="name !=null and name!=''">name =#{name},</if>
            <if test="phone !=null and phone!=''">phone =#{phone},</if>
            <if test="area !=null and area!=''">area =#{area},</if>
            <if test="status !=null">status =#{status},</if>
            <if test="supervisorNum !=null and supervisorNum!=''">supervisorNum =#{supervisorNum}</if>
            <if test="crmPwd !=null and crmPwd!=''">crmPwd =#{crmPwd}</if>
        </set>
        WHERE 1=1
        <if test="supervisorId !=null">
            AND supervisorId=#{supervisorId}
        </if>
    </update>

    <select id="findSupervisor" resultType="Supervisor">
        SELECT * FROM sys_supervisor WHERE supervisorId=#{supervisorId}
    </select>

    <insert id="addSupervisor" parameterType="Supervisor">
        INSERT INTO sys_supervisor(
        <if test="name !=null and name!=''">name,</if>
        <if test="phone !=null and phone!=''">phone,</if>
        <if test="area !=null and area!=''">area,</if>
        <if test="status !=null and status!=''">status,</if>
        <if test="supervisorNum !=null and supervisorNum!=''">supervisorNum,</if>
        creatTime
        )VALUES (
        <if test="name !=null and name!=''">#{name},</if>
        <if test="phone !=null and phone!=''">#{phone},</if>
        <if test="area !=null and area!=''">#{area},</if>
        <if test="status !=null and status!=''">#{status},</if>
        <if test="supervisorNum !=null and supervisorNum!=''">#{supervisorNum},</if>
        sysdate()
        )
    </insert>
    <!--添加CRM的督导员-->
    <insert id="addCRMSupervisor" parameterType="Supervisor">
        INSERT INTO sys_supervisor(
        <if test="name !=null and name!=''">name,</if>
        <if test="phone !=null and phone!=''">phone,</if>
        <if test="area !=null and area!=''">area,</if>
        <if test="status !=null and status!=''">status,</if>
        <if test="province !=null and province!=''">province,</if>
        <if test="city !=null and city!=''">city,</if>
        <if test="county !=null and county!=''">county,</if>
        <if test="supervisorNum !=null and supervisorNum!=''">supervisorNum,</if>
        <if test="roleId !=null and roleId!=''">roleId,</if>
        <if test="headPortrait !=null and headPortrait!=''">headPortrait,</if>
        deptId,
        <if test="crmLogin !=null and crmLogin!=''">crmLogin,</if>
        <if test="crmPwd !=null and crmPwd!=''">crmPwd</if>
        creatTime
        )VALUES (
        <if test="name !=null and name!=''">#{name},</if>
        <if test="phone !=null and phone!=''">#{phone},</if>
        <if test="area !=null and area!=''">#{area},</if>
        <if test="status !=null and status!=''">#{status},</if>
        <if test="province !=null and province!=''">#{province},</if>
        <if test="city !=null and city!=''">#{city},</if>
        <if test="county !=null and county!=''">#{county},</if>
        <if test="supervisorNum !=null and supervisorNum!=''">#{supervisorNum},</if>
        <if test="roleId !=null and roleId!=''">#{roleId},</if>
        <if test="headPortrait !=null and headPortrait!=''">#{headPortrait},</if>
        #{deptId},
        <if test="crmLogin !=null and crmLogin!=''">#{crmLogin},</if>
        <if test="crmPwd !=null and crmPwd!=''">#{crmPwd}</if>
        sysdate()
        )
    </insert>

    <select id="findPhone" parameterType="Supervisor" resultType="Supervisor">
        SELECT * FROM sys_supervisor WHERE phone=#{phone}
        <if test="supervisorId !=null">
            AND supervisorId !=#{supervisorId}
        </if>
    </select>
</mapper>