<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
	<resultMap id="MemberResult" type="Member">
		<result column="memberId" property="memberId" />
		<result column="storeId" property="storeId" />
		<result column="memberNo" property="memberNo" />
		<result column="name" property="name" />
		<result column="birthday" property="birthday" />
		<result column="qq" property="qq" />
		<result column="email" property="email" />
		<result column="address" property="address" />
		<result column="level" property="level" />
		<result column="score" property="score" />
		<result column="timeLimit" property="timeLimit" />
		<result column="remark" property="remark" />
		<result column="addTime" property="addTime" />
		<result column="updateTime" property="updateTime" />
		<result column="status" property="status" />
	</resultMap>

	<select id="pageInfoQuery" parameterType="PageUtilEntity" resultMap="MemberResult">
		SELECT memberId,memberNo,name,level,score,addTime,DATE_FORMAT(timeLimit,'%Y-%m-%d %H:%i:%S') timeLimit FROM m_member
		WHERE 1=1
		<if test="relationMap.beginTime != null and relationMap.beginTime != ''"><!-- 开始时间检索 -->
			AND DATE_FORMAT(timeLimit,'%Y-%m-%d %H:%i:%S') &gt;=sysdate()
		</if>
		<if test="relationMap.endTime != null and relationMap.endTime != ''"><!-- 结束时间检索 -->
			AND DATE_FORMAT(timeLimit,'%Y-%m-%d %H:%i:%S') &lt; sysdate()
		</if>
		<if test="relationMap.memberLevel !=null and relationMap.memberLevel !='' ">
			AND level=#{relationMap.memberLevel}
		</if>
		<if test="relationMap.memberNo!=null and relationMap.memberNo !=''">
			AND (
			memberNo LIKE CONCAT(CONCAT('%', #{relationMap.memberNo}),'%')
			OR
			name LIKE CONCAT(CONCAT('%', #{relationMap.memberNo}),'%')
			)
		</if>
		AND storeId=#{relationMap.storeId} order by addTime desc
	</select>

	<select id="checkName" parameterType="Member" resultType="Member">
		SELECT * FROM m_member WHERE memberNo=#{memberNo}
		<if test="memberId !=null and memberId !=''">
			AND memberId !=#{memberId}
		</if>
	</select>
	<select id="getByName" parameterType="map" resultType="int">
		SELECT count(1) FROM m_member WHERE memberNo=#{memberNo} and storeId=#{storeId}
		<if test="memberId != null and memberId != ''">
			and memberId!=#{memberId}
		</if>
	</select>
	<insert id="addMember" parameterType="Member">
		INSERT INTO m_member(
		<if test="memberId !=null and memberId !=''">memberId,</if>
		<if test="storeId !=null and storeId !=''">storeId,</if>
		<if test="memberNo !=null and memberNo !=''">memberNo,</if>
		<if test="name !=null and name !=''">name,</if>
		<if test="birthday !=null and birthday !=''">birthday,</if>
		<if test="qq !=null and qq !=''">qq,</if>
		<if test="email !=null and email !=''">email,</if>
		<if test="address !=null and address !=''">address,</if>
		<if test="level !=null and level !=''">level,</if>
		<if test="score !=null">score,</if>
		<if test="timeLimit !=null and timeLimit !=''">timeLimit,</if>
		remark,addTime,status
		)VALUES (
		<if test="memberId !=null and memberId !=''">#{memberId},</if>
		<if test="storeId !=null and storeId !=''">#{storeId},</if>
		<if test="memberNo !=null and memberNo !=''">#{memberNo},</if>
		<if test="name !=null and name !=''">#{name},</if>
		<if test="birthday !=null and birthday !=''">#{birthday},</if>
		<if test="qq !=null and qq !=''">#{qq},</if>
		<if test="email !=null and email !=''">#{email},</if>
		<if test="address !=null and address !=''">#{address},</if>
		<if test="level !=null and level !=''">#{level},</if>
		<if test="score !=null ">#{score},</if>
		<if test="timeLimit !=null and timeLimit !=''">#{timeLimit},</if>
		#{remark},sysdate(),1
		)
	</insert>

	<select id="findMembership" parameterType="Member"  resultType="Member">
		SELECT memberId,memberNo,name,level,score,addTime,DATE_FORMAT(timeLimit,'%Y-%m-%d') timeLimit,qq,email,address,remark
		FROM m_member
		WHERE memberId =#{memberId}
	</select>

	<update id="updateMember" parameterType="Member">
		UPDATE m_member
		<set >
			<if test="memberNo !=null and memberNo!=''">
				memberNo=#{memberNo},
			</if>
			<if test="name !=null and name!=''">
				name=#{name},
			</if>
			<if test="birthday !=null and birthday !=''">birthday= #{birthday},</if>
			<if test="qq !=null and qq !=''">qq=#{qq},</if>
			<if test="email !=null and email !=''">email= #{email},</if>
			<if test="address !=null and address !=''">address= #{address},</if>
			<if test="level !=null and level !=''">level= #{level},</if>
			<if test="score !=null ">score= #{score},</if>
			<if test="timeLimit !=null and timeLimit !=''">timeLimit=#{timeLimit},</if>
			<if test="status !=null ">status=#{status},</if>
			remark=#{remark},updateTime=sysdate()
		</set>
		WHERE 1=1
		<if test="memberId !=null and memberId !=''">
			AND memberId=#{memberId}
		</if>
	</update>
</mapper> 