<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="cacheEnabled" value="true" /><!-- 全局映射器启用缓存 -->
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="logImpl" value="SLF4J"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.xingrongjinfu.system.user.model.User" alias="User"/>
		<typeAlias type="com.xingrongjinfu.system.role.model.Role" alias="Role"/>
		<typeAlias type="com.xingrongjinfu.system.permission.model.Permission" alias="Permission"/>
		<typeAlias type="com.xingrongjinfu.system.user.model.UserRole" alias="UserRole"/>
		<typeAlias type="com.xingrongjinfu.system.syscode.model.SysCode" alias="SysCode"/>
		<typeAlias type="com.xingrongjinfu.system.operlog.model.OperLog" alias="OperLog"/>
		<typeAlias type="com.xingrongjinfu.system.userlog.model.UserLog" alias="UserLog"/>
		<typeAlias type="com.xingrongjinfu.system.role.model.RolePermission" alias="RolePermission"/>
		<typeAlias type="com.xingrongjinfu.system.merchant.model.Merchant" alias="Merchant"/>
		<typeAlias type="com.xingrongjinfu.system.merchant.model.AccountInfo" alias="AccountInfo"/>
		<typeAlias type="com.xingrongjinfu.system.merchant.model.Balance" alias="Balance"/>
		<typeAlias type="com.xingrongjinfu.commodity.classification.model.Category" alias="Category"/>
		<typeAlias type="com.xingrongjinfu.commodity.label.model.Label" alias="Label"/>
		<typeAlias type="com.xingrongjinfu.commercial.repayment.model.Repayment" alias="Repayment"/>		
		<typeAlias type="com.xingrongjinfu.commercial.cashierManage.model.CashierManage" alias="CashierManage"/>
		<typeAlias type="com.xingrongjinfu.content.carousel.model.Carousel" alias="Carousel"/>
		<typeAlias type="com.xingrongjinfu.content.exhibition.model.Exhibition" alias="Exhibition"/>
		<typeAlias type="com.xingrongjinfu.content.advertisement.model.Advertisement" alias="Advertisement"/>
		<typeAlias type="com.xingrongjinfu.content.commodityAd.model.CommodityAd" alias="CommodityAd"/>																																																														
		<typeAlias type="com.xingrongjinfu.statistics.procurement.model.Procurement" alias="Procurement"/>
		<typeAlias type="com.xingrongjinfu.statistics.purchase.model.Purchase" alias="Purchase"/>
		<typeAlias type="com.xingrongjinfu.system.storeaffairs.model.Store" alias="Store"/>
		<typeAlias type="com.xingrongjinfu.system.storeaffairs.model.BankAccount" alias="BankAccount"/>
		<typeAlias type="com.xingrongjinfu.system.storeaffairs.model.Repay" alias="Repay"/>
		<typeAlias type="com.xingrongjinfu.system.supervisor.model.Supervisor" alias="Supervisor"/>
		<typeAlias type="com.xingrongjinfu.system.storeaffairs.model.Order" alias="Order"/>
		<typeAlias type="com.xingrongjinfu.system.help.model.Help" alias="Help"/>
		<typeAlias type="com.xingrongjinfu.system.document.model.Document" alias="Document"/>
		<typeAlias type="com.xingrongjinfu.system.setting.model.Setting" alias="Setting"/>
		<typeAlias type="com.xingrongjinfu.system.pays.model.Pays" alias="Pays"/>
		<typeAlias type="com.xingrongjinfu.system.commodity.model.Commodity" alias="Commodity"/>
		<typeAlias type="com.xingrongjinfu.system.sale.model.Sale" alias="Sale"/>
		<typeAlias type="com.xingrongjinfu.system.financial.model.Financial" alias="Financial"/>
		<typeAlias type="com.xingrongjinfu.system.order.model.Order" alias="Orders"/>
		<typeAlias type="com.xingrongjinfu.system.order.model.OrderDetail" alias="OrderDetail"/>
		<typeAlias type="com.xingrongjinfu.system.order.model.OrderExpress" alias="OrderExpress"/>
		<typeAlias type="com.xingrongjinfu.system.product.model.Product" alias="Product"/>
		<typeAlias type="com.xingrongjinfu.system.product.model.Classes" alias="Classes"/>
		<typeAlias type="com.xingrongjinfu.memberManage.member.model.Membership" alias="Member"/>
		<typeAlias type="com.xingrongjinfu.commodity.fenlei.model.Fenlei" alias="Fenlei"/>
		<typeAlias type="com.xingrongjinfu.commodity.register.model.Register" alias="Register"/>
		<typeAlias type="com.xingrongjinfu.commodity.register.model.RegisterExp" alias="RegisterExp"/>
		<typeAlias type="com.xingrongjinfu.commodity.supply.model.Supply" alias="Supply"/>
		<typeAlias type="com.xingrongjinfu.commodity.unit.model.Unit" alias="Unit"/>
		<typeAlias type="com.xingrongjinfu.statistics.paysWater.model.CashDetail" alias="CashDetail"/>
		<typeAlias type="com.xingrongjinfu.statistics.paysWater.model.CashFlow" alias="CashFlow"/>
		<typeAlias type="com.xingrongjinfu.statistics.pays.model.Pays" alias="Pay"/>
		<typeAlias type="com.xingrongjinfu.system.storeaffairs.model.RepayDetail" alias="RepayDetail"/>
		<typeAlias type="com.xingrongjinfu.system.financial.model.FinancialDetail" alias="FinancialDetail"/>
		<typeAlias type="com.xingrongjinfu.statistics.cashCount.model.Amount" alias="Amount" />
		<typeAlias type="com.xingrongjinfu.memberManage.level.model.Level" alias="Level" />
		<typeAlias type="com.xingrongjinfu.commercial.supplierApply.model.SupplierApply" alias="SupplierApply" />
		<typeAlias type="com.xingrongjinfu.statistics.cashCount.model.Billing" alias="Billing" />
		<typeAlias type="com.xingrongjinfu.commercial.storeApply.model.StoreApply" alias="StoreApply" />
		<typeAlias type="com.xingrongjinfu.system.PayMethod.model.PayMethod" alias="PayMethod" />
		<typeAlias type="com.xingrongjinfu.crm.department.model.Dept" alias="Dept"/>
		<typeAlias type="com.xingrongjinfu.crm.visit.model.Visit" alias="Visit"/>
		<typeAlias type="com.xingrongjinfu.crm.approvingCoupons.model.Coupon" alias="Coupon"/>
		<typeAlias type="com.xingrongjinfu.crm.approvingCoupons.model.CouponImg" alias="CouponImg"/>
		<typeAlias type="com.xingrongjinfu.system.storeaffairs.model.PurchaseDto" alias="PurchaseDto"/>
		<typeAlias type="com.xingrongjinfu.activity.conpusmanage.model.ACoupon" alias="ACoupon"/>
		<typeAlias type="com.xingrongjinfu.crm.information.model.Information" alias="Information"/>
		<typeAlias type="com.xingrongjinfu.crm.approvingCoupons.model.CouponGoods" alias="CouponGoods"/>
		<typeAlias type="com.xingrongjinfu.system.order.model.OrderAuditing" alias="orderAuditing"/>


		<!-- 分页 -->
		<typeAlias type="org.framework.base.util.TableDataInfo" alias="TableDataInfo"/>
		<typeAlias type="org.framework.base.util.PageUtilEntity" alias="PageUtilEntity"/>
	</typeAliases>

	<plugins>
		<plugin interceptor="org.apache.ibatis.plugin.ExecutorPageMethodInterceptor">
			<property name="dialect" value="mysql" />
			<property name="pageSqlId" value=".*pageInfoQuery.*" />
		</plugin>
	</plugins>
</configuration>
