<p>您好 </p>

<p>恭喜您成功注册火星系统。以下为您的帐户信息，请妥善保管! </p>

<p>您的用户名/登录名为：<b>$loginName</b></p>

<p>注册邮箱为：<b>$email</b></p>

<p>手机号码为：<b>$mobileNo</b></p>

<p>火星系统 支持用户名/邮箱/手机号码进行登录。</p>

<p>尊敬的会员，请妥善保管您的用户密码私隐资料。请随时留意邮箱已获取及时的资讯消息。<br>
如果有问题请访问帮助中心，或者邮件（yzz_ivy@163.com）致电火星系统客服中心：0755-88888888
</p>

<p>感谢您的支持！</p>

<p>注：此邮件由系统自动发送，请勿回复此邮件</p>

<p><h2 style='color:#FFA107;'>火星系统</h3></p>