<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ContentCommodityAdMapper">

	<resultMap type="CommodityAd" id="CommodityAdResult">
		<result property="commodityDes" column="commodityDes" />
		<result property="categoryId" column="categoryId" />
		<result property="sort" column="sort" />
		<result property="createTime" column="createTime" />
		<result property="updateTime" column="updateTime" />
		<result property="status" column="status" />
		<result property="url" column="url" />
		<result property="commodityAdId" column="commodityAdId" />
		<result property="commodityAdName" column="commodityAdName" />
		<result property="commodityId" column="commodityId" />
		<result property="commodityAdImg" column="commodityAdImg" />
		<result property="type" column="type" />
		<result property="categoryName" column="categoryName" />
		<result property="commodityName" column="commodityName" />
	</resultMap>
	<resultMap type="Category" id="CategoryResult">
		<result property="categoryId" column="categoryId" />
		<result property="categoryName" column="categoryName" />
		<result property="type" column="type" />
		<result property="img" column="img" />
		<result property="sort" column="sort" />
		<result property="status" column="status" />
		<result property="addTime" column="addTime" />
		<result property="parentId" column="parentId" />
	</resultMap>
	<resultMap id="CommodityResult" type="Commodity">
		<result column="commodityName" property="commodityName" />
		<result column="commodityId" property="commodityId" />
		<result column="categoryId" property="categoryId" />
	</resultMap>
	<delete id="deleteCommodityAdInfo" parameterType="CommodityAd">
		delete from t_commodityAd where 1=1
		<if test="commodityAdId != null and commodityAdId  != ''">and commodityAdId = #{commodityAdId}</if>
	</delete>

	<select id="findByCommodityAdId" parameterType="String"
		resultType="CommodityAd">
		SELECT commodityAdId,a.categoryId categoryId,a.`type`
		`type`,commodityAdName,commodityAdImg,com.commodityId,
		com.commodityName commodityName,a.sort sort,a.status status
		FROM
		t_commodityAd a
		LEFT JOIN t_category c ON c.`categoryId`=a.categoryId
		LEFT JOIN t_commodity com ON com.commodityId=a.commodityId
		WHERE
		commodityAdId=#{0}
	</select>

	<select id="pageInfoQuery" parameterType="PageUtilEntity"
		resultType="CommodityAd" useCache="false">
		SELECT
		categoryName,a.commodityAdName,commodityAdId,a.createTime,a.status,a.`type`
		`type`
		FROM
		t_commodityAd a
		LEFT JOIN t_commodity b ON
		a.commodityId=b.commodityId
		LEFT JOIN t_category c ON
		c.`categoryId`=a.categoryId
		WHERE 1=1
		
		<if test="relationMap.beginTime != null and relationMap.beginTime != ''">
			AND DATE_FORMAT(a.createTime,'%Y%m%d') &gt;=
			DATE_FORMAT(#{relationMap.beginTime},'%Y%m%d')
		</if>
		<if test="relationMap.endTime != null and relationMap.endTime != ''">
			AND DATE_FORMAT(a.createTime,'%Y%m%d') &lt;=
			DATE_FORMAT(#{relationMap.endTime},'%Y%m%d')
		</if>
		<if test="relationMap.type != null and relationMap.type != ''">
			AND a.type = #{relationMap.type}
		</if>
		<if test="relationMap.status != null and relationMap.status != ''">
			AND a.status = #{relationMap.status}
		</if>
		<if
			test="relationMap.fuzzyCondition != null and relationMap.fuzzyCondition != ''">
			AND (
			a.commodityAdName LIKE CONCAT(CONCAT('%', #{relationMap.fuzzyCondition}),'%')
			)
		</if>
		order by a.sort asc,a.createTime desc
	</select>

	<!-- 修改信息 -->
	<update id="updateCommodityAdInfo" parameterType="CommodityAd">
		update t_commodityAd
		<set>
			<if test="commodityAdName != null and commodityAdName != ''">
				commodityAdName = #{commodityAdName},
			</if>
			<if test="commodityAdImg != null and commodityAdImg != ''">
				commodityAdImg = #{commodityAdImg},
			</if>
			<if test="commodityId != null and commodityId != ''">
				commodityId = #{commodityId},
			</if>
			<if test="url != null and url != ''">
				url = #{url},
			</if>
			<if test="type != null and type != ''">
				type = #{type},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="commodityDes != null and commodityDes != ''">
				commodityDes = #{commodityDes},
			</if>
			<if test="categoryId != null and categoryId != ''">
				categoryId = #{categoryId},
			</if>
			<if test="sort != null and sort != ''">
				sort = #{sort},
			</if>
			updateTime = sysdate()
		</set>
		where commodityAdId = #{commodityAdId}
	</update>

	<!-- 插入信息 -->
	<insert id="addCommodityAdInfo" parameterType="CommodityAd">
		insert into t_commodityAd
		( commodityAdId,
		<if test="commodityAdName != null and commodityAdName != ''">commodityAdName,</if>
		<if test="commodityAdImg != null and commodityAdImg != ''">commodityAdImg,</if>
		<if test="commodityId != null and commodityId != ''">commodityId,</if>
		<if test="url != null and url != ''">url,</if>
		<if test="type != null and type != ''">type,</if>
		<if test="categoryId != null and categoryId != ''">categoryId,</if>
		createTime,
		<if test="status != null and status != ''">status,</if>
		<if test="commodityDes != null and commodityDes != ''">commodityDes,</if>
		<if test="sort != null and sort != ''">sort</if>
		)values(#{commodityAdId},
		<if test="commodityAdName != null and commodityAdName != ''">#{commodityAdName},</if>
		<if test="commodityAdImg != null and commodityAdImg != ''">#{commodityAdImg},</if>
		<if test="commodityId != null and commodityId != ''">#{commodityId},</if>
		<if test="url != null and url != ''">#{url},</if>
		<if test="type != null and type != ''">#{type},</if>
		<if test="categoryId != null and categoryId != ''">#{categoryId},</if>
		sysdate(),
		<if test="status != null and status != ''">#{status},</if>
		<if test="commodityDes != null and commodityDes != ''">#{commodityDes},</if>
		<if test="sort != null and sort != ''">#{sort}</if>
		)
	</insert>

	<!-- 查询所有类型 -->
	<select id="getAllType" resultType="int">
		SELECT DISTINCT(`type`)
		`type` FROM t_commodityAd WHERE `status`=1
	</select>

	<!-- 查询所有分类 -->
	<select id="getFL" resultType="Category">
		SELECT * FROM t_category c
		WHERE c.status=1 AND c.parentId="0" AND c.type = "FL" ORDER BY c.sort
	</select>

	<!-- 获取某分类的所有商品 -->
	<select id="getCommoditys" parameterType="string" resultType="Commodity">
		SELECT DISTINCT(c.commodityId) commodityId,c.commodityName
		commodityName
		FROM t_commodity c LEFT JOIN t_commodityAd a ON
		a.commodityId=c.commodityId
		LEFT JOIN t_category ca ON ca.categoryId=a.categoryId
		WHERE c.categoryId IN
		(SELECT categoryId FROM t_category WHERE parentId=#{0})
	</select>

	<!-- 获取某商品的所有分类商品 -->
	<select id="getCommoditysByAdId" parameterType="string"
		resultType="map">
		SELECT DISTINCT(c.commodityId) commodityId,c.commodityName
		commodityName
		FROM t_commodity c LEFT JOIN t_category ca ON c.categoryId=ca.categoryId
		WHERE ca.parentId =
		(SELECT t_category.categoryId FROM t_category LEFT JOIN t_commodityAd ON
		t_commodityAd.categoryId=t_category.categoryId
		WHERE t_commodityAd.commodityAdId=#{0}
		)
	</select>
</mapper> 